<div class="main_wrapper">
  <div class="wrapper wrapper_padding clearfix">
    <div class="col-1 about homepage_content">
      <h2>About</h2>
      <hr class="short">
      <div class="bio">
        <%= image_tag("bio.jpg", width: '150', alt: "Oleg Nikitashin") %>
      </div>
      <p>I'm a beginner developer living in Saint-Petersburg, Russia.</p>
      <p>I have MSc degrees in Mechanical and Structural Engineering, and have been doing it for about a third of my life. Technical disciplines always inspired me and I get a real joy from solving this type of problems.</p>
      <p>However, lately I began feeling that web development and web industry in general excite me more than anything in life (except for music). In the beginning of the year 2016 I decided to follow my passion and try myself as a web developer.</p>
      <p>This website is my first personal project that will help me trace my progress in web development education. At this moment I'm particularly interested in <a href="#">Ruby on Rails</a>, <a href="#">Javascript</a>, <a href="#">CSS</a>. I love self-education and I find a lot of useful tutorials every day. I will share these resources with you and if at least one of you finds it useful, I would consider my work successful.</p>
    </div>

    <div class="col-2 homepage_content">
      <h2>Latest Articles</h2>
      <hr class="long">

      <% @posts.each do |post| %>
        <h3><a href="#"><%= link_to post.title, post %></a></h3>
        <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
      <% end %>
    </div>

    <div class="col-3 homepage_content">
      <h2>Latest Projects</h2>
      <hr class="long">

      <% @projects.each do |project| %>
        <h3><a href="#"><%= link_to project.title, project %></a></h3>
        <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
      <% end %>
    </div>
  </div>
</div>
