<div class="main_wrapper clearfix">
  <h1 id="page_title">Say Hello!</h1>

  <div class="skinny_wrapper wrapper_padding">
  <h1>Thank you for your message!</h1>
  <p>I'll get back to you as soon as possible.</p>
  </div>
</div>
