<div class="main_wrapper clearfix">
  <h1 id="page_title">Projects</h1>

  <div id="post_wrapper" class="skinny_wrapper">
    <% @projects.each do |project| %>
      <div class="post">
        <p class="date"><%= project.created_at.strftime('%A, %B %d') %>
        </p>
        <h2><a href="#"><%= link_to project.title, project %></a></h2>
        <hr class="short">
      </div>
    <% end %>
  </div>

</div>
