<div class="main_wrapper clearfix">
  <!-- <h1 id="page_title">Articles</h1> -->

  <div id="post_show_content" class="skinny_wrapper wrapper_padding">

    <header>
      <p class="date"><%= @project.created_at.strftime('%A, %B %d') %></p>
      <h1><%= @project.title %></h1>
      <hr class="short">
    </header>

    <div id="content">
      <%= markdown @project.description %>

      <div class="button_wrapper">
        <a href="<%= @project.link %>" class="button" target="_blank">Visit <%= @project.title %></a>
      </div>
    </div>

    <% if user_signed_in? %>
      <div id="admin_links">
        <%= link_to "Edit", edit_project_path(@project) %>
        <%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>

    <hr class="short">
  </div>
</div>
