<div class="main_wrapper clearfix">
  <h1 id="page_title">Articles</h1>

  <div id="post_wrapper" class="skinny_wrapper">
    <% @posts.each do |post| %>
      <div class="post">
        <p class="date"><%= post.created_at.strftime('%A, %B %d') %>
        </p>
        <h2><a href="#"><%= link_to post.title, post %></a></h2>
        <hr class="short">
      </div>
    <% end %>
  </div>

  <%= will_paginate @posts %>
</div>
