<div class="main_wrapper clearfix">
  <div id="post_show_content" class="skinny_wrapper wrapper_padding">

    <header>
      <p class="date"><%= @post.created_at.strftime('%A, %B %d') %></p>
      <h1><%= @post.title %></h1>
      <hr class="short">
    </header>

    <div id="content">
      <%= markdown @post.content %>
    </div>

    <% if user_signed_in? %>
      <div id="admin_links">
        <%= link_to "Edit", edit_post_path(@post) %>
        <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>

    <hr class="short">

    <div id="share_box">
      <p>Share The Do List</p>
      <!-- Twitter -->
      <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> by @onikitashin - &amp;url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=400, left=300');void(0);">
        <i class="fa fa-twitter"></i>
      </a>
      <!-- Facebook -->
      <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
        <i class="fa fa-facebook"></i>
      </a>
      <!-- Google Plus -->
      <a onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
        <i class="fa fa-google-plus"></i>
      </a>
    </div>

    <hr class="short">

    <%= render 'disqus' %>

  </div>
</div>
