// $dark: #272D2D;
// $white: #FFFFFF;
// $light: #A2A7A5;
// $highlight: #087E8B;
// $border: #F1F1F1;
// $reddish: #FF5A5F;
// $back: #FAFAFA;

#post_wrapper {
  padding: 3em 0;
  .post {
    text-align: center;
    .date {
      font-size: .9em;
      margin: 0;
      color: $light;
    }
    h2 {
      margin: 0;
      font-size: 2em;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: $dark;
        &:hover {
          color: $highlight;
        }
      }
    }
    hr {
      margin: 2.2em auto;
    }
  }
}
// - - - - - Posts Show

#post_show_content {
  header {
    text-align: center;
    .date {
      font-size: .9em;
      color: $light;
      margin: 0;
    }
    h1 {
      margin: 0;
    }
  }
  hr {
    margin: 2em auto;;
  }
}

#share_box {
  text-align: center;
  p {
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
    font-size: .8em;
  }
  i {
    color: $dark;
    padding: 1em 1.5em;
    &:hover {
      color: $highlight;
      cursor: pointer;
    }
  }
}

#admin_links {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  text-align: center;
  padding: 1em 0;
  margin: 3em 0;
  a {
    color: $light;
    margin: 0 1em;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none;
  }
}

// - - - - - Pagination
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}

.pagination:after {
  clear: box;
}

.pagination {
  text-align: center;
  margin: 0 0 3em 0;
  a, .previous_page, .current, .next_page {
    padding: .6em .8em;
    margin: 0 .5em;
    border-radius: .2em;
    line-height: 20px;
    text-decoration: none;
    background: $back;
    font-weight: 700;
    font-size: 0.8em;
    font-style: normal;
    color: $dark;
    &:hover {
      background: $highlight;
      color: $white;
    }
  }
  .current {
    background: $highlight;
    color: $white;
  }
  .disabled {
    color: $light;
    &:hover {
      color: $light;
      background: $back;
    }
  }
}
