// $dark: #272D2D;
// $white: #FFFFFF;
// $light: #A2A7A5;
// $highlight: #087E8B;
// $border: #F1F1F1;
// $reddish: #FF5A5F;
// $back: #FAFAFA;


.col-1, .col-2, .col-3 {
  float: left;
  .bio {
    float: left;
    margin: 5px 15px 5px 0;
  }
}

.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
  text-align: justify;
}

.col-2, .col-3 {
  width: 27.5%;
  padding: 0 2.5%
}
.homepage_content {
  h2 {
    color: $highlight;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: $dark;
    &:hover {
      color: $highlight;
    }
  }
  .date {
    font-size: .9em;
    margin-bottom: 2em;
    color: $light;
  }
  p {
    margin: 0 0 .75em 0;
  }
}
.about {
  a {
    color: $reddish;
    font-weight: 700;
    text-decoration: none;
  }
}
