/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_main
 */


 @import 'variables';
 @import 'normalize';
 @import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,700);


 /* Fixes */
 * {
   box-sizing: border-box;
 }
 .clearfix:before,
 .clearfix:after {
   content: " ";
   display: table;
 }

 .clearfix::after {
   clear: both;
 }

.hidden {
  display: none;
}

.notice, .alert {
  background-color: $back;
  margin: 0;
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid $border;
}

 /* Headings */
 h1, h2, h3, h4, h5, h6, p, ul, li {
   color: $dark;
 }
 p, li {
   font-size: 1rem;
   line-height: 1.6;
 }
 p, ul, ol {
   margin: 0 0 1.2em 0;
 }
 hr.short {
   width: 5em;
   display: block;
   height: 1em;
   border: 0;
   border-top: 2px solid $highlight;
   margin: 0 0 2rem 0;
 }
 hr.long {
   width: 12.5em;
   display: block;
   height: 1em;
   border: 0;
   border-top: 2px solid $highlight;
   margin: 0 0 2rem 0;
 }
 /* Main, Body */
 body {
   font-family: 'Fira Sans', sans-serif;
 }
 .main_wrapper {
   background-color: $back;
   // margin-bottom: auto;
   .wrapper {
     width: 97%;
     margin: 0 auto;
   }
   .wrapper_padding {
     padding: 1rem 0;
   }
   .skinny_wrapper {
     width: 80%;
     max-width: 760px;
     margin: 0 auto;
     hr {
       -webkit-margin-before: 0;
       -webkit-margin-after: 0;
     }
   }
  }

 /* Navigation, Header */
 #main_navigation {
   padding: 1em 3%;
   border-bottom: 1px solid $border;
   .name {
     float: left;
   }
   nav {
     float: right;
     padding-top: 1.3rem;
     a {
       color: $highlight;
       text-decoration: none;
       margin: 0 1rem;
       font-size: 1.3rem;
       font-weight: bold;
     }
   }
 }

 #page_title {
   font-weight: 700;
   text-align: center;
   border-bottom: 1px solid $border;
   padding: 1em 0;
   font-size: 1.5em;
   text-transform: uppercase;
   margin-top: auto;
 }

 #main_footer {
   padding: 2.5em 5%;
   border-top: 1px solid $border;
   .copyright {
     float: left;
     font-size: 1em;
     margin: 0;
   }
   nav {
     float: right;
     i {
       font-size: 1.2em;
       color: $dark;
       margin-left: 1em;
       padding-top: 0.2em;
       &:hover {
         color: $highlight;
       }
     }
   }
 }

 // Input

 input[type="text"], input[type="email"], input[type="password"], textarea {
   width: 100%;
   max-width: 100%;
   height: 3em;
   border: 2px solid $border;
   border-radius: 0.4em;
   padding: 1em;
   margin: .5em 0 2em 0;
 }

 textarea {
   min-height: 20em;
 }

 input[type="submit"], .button {
   outline: none;
   background: transparent;
   border: 2px solid $border;
   text-align: center;
   font-size: 1em;
   color: $dark;
   text-decoration: none;
   padding: 1em 2em;
   &:hover {
     border: 2px solid $highlight;
     color: $highlight;
     cursor: pointer;
   }
 }

 .button_wrapper {
   margin: 4em 0 0 0;
   text-align: center;
 }

 @import "welcome";
 @import "posts_projects";
 @import "pygments";
 @import "font-awesome-sprockets";
 @import "font-awesome";
