<!DOCTYPE html>
<html>
<head>
  <title>Oleg Nikitashin - web development with Ruby on Rails!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <%= link_to image_tag("logo.png", width: '280', alt: "Oleg Nikitashin"), root_path %>
    <nav>
      <%= link_to "Articles", posts_path %>
      <%= link_to "Projects", projects_path %>
      <%= link_to "Contact", new_contact_path %>
      <% if user_signed_in? %>
        <%= link_to "CrA", new_post_path %>
        <%= link_to "CrP", new_project_path %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>

      <% end %>
    </nav>
  </header>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>

  <footer id="main_footer">
      <p class="copyright">&copy;2016 Oleg Nikitashin</p>
      <nav>
        <a href="https://github.com/olegnikitashin" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        <a href="https://linkedin.com/in/oleg-nikitashin-3b478765
" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://twitter.com/ONikitashin" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </nav>
    </footer>
</body>
</html>
